{% extends 'estudio/base.html' %}
{% load static custom_filters %}

{% block styles %}
<script src="{% static 'js/datepicker.min.js' %}"></script>
{% endblock styles %}

{% block content %}
<div class="w-full flex flex-col items-center p-6">
    <button data-modal-target="historial-modal" data-modal-toggle="historial-modal" class="block text-blue-600 hover:underline rounded-xl font-medium text-sm px-5 py-1 text-center" type="button">Ver historial de cambios</button>
      
    <form class="w-full max-w-4xl shadow border flex flex-col px-6 py-12 bg-white" method="POST">        
        <input value="{{ficha_cliente.id}}" type="text" class="hidden" name="ficha_cliente_id">
        {% csrf_token %}
        <div class="flex justify-between">
            <span class="w-16 text-xs font-light"></span>
            <h1 class="font-bold text-black text-3xl">FICHA DEL CLIENTE DEL ESTUDIO</h1>
            <div class="bg-gray-100 border border-black w-16 h-8"></div>
        </div>

        <div class="w-full flex justify-between mt-6">
            <div class="">
                <h1 class="font-bold text-black text-xl">CLIENTE No:</h1>
                <h1 class="font-semibold text-black text-md">Aceptación de las condiciones del contrato:</h1>

            </div>

            <div class="grid grid-cols-2 border border-black">
                <h3 class="font-semibold text-black border border-black px-2 text-sm">No. de Contrato</h3>
                <span class="px-2.5 py-0 text-sm text-gray-900 bg-transparent appearance-none border border-black focus:border-black focus:outline-none focus:ring-0"></span>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Responsable / Maquillista</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                id="responsable_contrato" name="rc" required
                {% if request.user.super_permission == False and request.user.balanc_permission == False or ficha_cliente.fecha_realizacion %}disabled{% endif %}>
                    {% for r in responsables %}
                    <option value="{{r.id}}"
                    {% if "rc="|concatenate:r.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{r.user_str}}</option>
                    {% endfor %}
                </select>

                <h3 class="font-semibold text-black border border-black px-2 text-sm">Tipo de Contrato</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                onchange="changeUrl()" id="tipo_contrato" name="t" required
                {% if ficha_cliente.fecha_realizacion %}disabled{% endif %}>
                    {% for tipo in tipos %}
                    <option value="{{tipo.id}}"
                    {% if "t="|concatenate:tipo.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{tipo.nombre}}</option>
                    {% endfor %}
                </select>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Contrato Acordado</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                onchange="changeUrl()" id="contrato" name="ca" required
                {% if ficha_cliente.fecha_realizacion %}disabled{% endif %}>
                    {% for contrato in contratos %}
                    <option value="{{contrato.id}}"
                    {% if "ca="|concatenate:contrato.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{contrato.nombre}}</option>
                    {% endfor %}
                </select>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Fotógrafo</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                id="fotografo" name="f" required
                {% if ficha_cliente.fecha_realizacion %}disabled{% endif %}>
                    {% for f in fotografos %}
                    <option value="{{f.id}}"
                    {% if "f="|concatenate:f.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{f.nombre}}</option>
                    {% endfor %}
                </select>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Editor</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                id="editor" name="e" required>
                    {% for e in editores %}
                    <option value="{{e.id}}"
                    {% if "e="|concatenate:e.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{e.nombre}}</option>
                    {% endfor %}
                </select>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Responsable de Revisión</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                id="responsable_revicion" name="rr" required
                {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    {% for r in responsable_revision %}
                    <option value="{{r.id}}"
                    {% if "rr="|concatenate:r.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{r.user_str}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div>
            <div class="w-full flex justify-center mt-6">
                <h2 class="font-bold text-black">I-</h2>
                <h2 class="font-bold text-black underline">A LLENAR POR LA RECEPCIÓN</h2>
            </div>

            <div class="w-full flex justify-between mt-6">
                <div class="flex">
                    <h1 class="font-bold text-black mr-2">(A)</h1>
                    <div>
                        <div class="flex items-center">
                            <h3 class="font-semibold text-black mr-1">Fecha de solicitud:</h3>
                            <p class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent">{{ ficha_cliente.fecha_solicitud|date:"d/m/Y"}}</p>
                        </div>
                        {% if not ficha_cliente.fecha_realizacion %}
                        <div class="flex items-center">
                            <h3 class="font-semibold text-black mr-1">Fecha del día acordado:</h3>
                            <input value="{{ficha_cliente.fecha_acordada|date:"d/m/Y"}}" id="datepicker-date-acordado" name="date-acordado" datepicker datepicker-autohide required type="text" class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0" placeholder="Seleccionar fecha">
                        </div>
                        <div class="flex items-center">
                            <h3 class="font-semibold text-black mr-1">Fecha de selección:</h3>
                            <input value="{{ficha_cliente.fecha_seleccion|date:"d/m/Y"}}" id="datepicker-date-seleccion" name="date-seleccion" datepicker datepicker-autohide required type="text" class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0" placeholder="Seleccionar fecha">
                        </div>
                        {% else %}
                        <div class="flex items-center">
                            <h3 class="font-semibold text-black mr-1">Fecha del día acordado:</h3>
                            <p class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent">{{ ficha_cliente.fecha_acordada|date:"d/m/Y"}}</p>
                        </div>
                        <div class="flex items-center">
                            <h3 class="font-semibold text-black mr-1">Fecha del selección:</h3>
                            <p class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent">{{ ficha_cliente.fecha_seleccion|date:"d/m/Y"}}</p>
                        </div>
                        <div class="flex items-center">
                            <h3 class="font-semibold text-black mr-1">Fecha del realización:</h3>
                            <p class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent">{{ ficha_cliente.fecha_realizacion|date:"d/m/Y"}}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="w-full flex justify-center mt-6">
                <h2 class="font-bold text-black">(B)</h2>
                <h2 class="font-bold text-black underline">Datos Generales del Cliente</h2>
            </div>
            <h2 class="font-semibold text-black text-xs w-full text-center">(Carnet de Identidad)</h2>
            
            <div>
                <div class="flex border-r border-black">
                    <h2 class="w-24"></h2>
                    <div class="flex-1 border-r border-black"></div>
                    <div class="w-20 text-center border-t border-black">Firma cliente</div>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Nombre y apellidos</h2>
                    <input value="{{ficha_cliente.nombre}}" type="text" name="nombre" required class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0"
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Edad</h2>
                    <input value="{{ficha_cliente.edad}}" type="text" name="edad" required class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0"
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">CI</h2>
                    <input value="{{ficha_cliente.ci}}" type="text" name="ci" required class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0"
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Dirección</h2>
                    <div class="flex flex-col border-r border-black flex-1 p-2">
                        <div class="flex">
                            <h2 class="font-semibold text-sm">Calle:</h2>
                            <input value="{{ficha_cliente.calle}}" type="text" name="calle" required class="w-48 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0"
                            {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                            
                            <h2 class="font-semibold text-sm">No:</h2>
                            <input value="{{ficha_cliente.numero}}" type="text" name="numero" required class="w-24 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0"
                            {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                        
                            <h2 class="font-semibold text-sm">Entre:</h2>
                            <input value="{{ficha_cliente.entre}}" type="text" name="entre" class="flex-1 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0"
                            {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                        </div>
                        <div class="flex mt-2">
                            <h2 class="font-semibold text-sm">Consejo Popular:</h2>
                            <input value="{{ficha_cliente.consejo_popular}}" type="text" name="consejo_popular" class="flex-1 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0"
                            {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                            <h2 class="font-semibold text-sm">Muncp:</h2>
                            <input value="{{ficha_cliente.muncp}}" type="text" name="muncp" required class="w-32 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0"
                            {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                            <h2 class="font-semibold text-sm">Prov:</h2>
                            <input value="{{ficha_cliente.prov}}" type="text" name="prov" required class="w-32 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0"
                            {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                        </div>
                        <div class="flex mt-2">
                            <h2 class="font-semibold text-sm">País:</h2>
                            <input value="{{ficha_cliente.pais}}" type="text" name="pais" required class="flex-1 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0"
                            {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                        </div>
                    </div>
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">No. de Teléfono</h2>
                    <input value="{{ficha_cliente.telefono}}" type="text" name="telefono" required class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0"
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <span class="w-20 h-full"> </span>
                </div>
                <p class="w-full text-center border border-b-0 border-black font-bold">Redes sociales</p>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Correo</h2>
                    <input value="{{ficha_cliente.correo}}" type="text" name="correo" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0"
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Facebook</h2>
                    <input value="{{ficha_cliente.facebook}}" type="text" name="facebook" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0"
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Instagram</h2>
                    <input value="{{ficha_cliente.instagram}}" type="text" name="instagram" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0"
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Twitter</h2>
                    <input value="{{ficha_cliente.twitter}}" type="text" name="twitter" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0"
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Telegram</h2>
                    <input value="{{ficha_cliente.telegram}}" type="text" name="telegram" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0"
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <span class="w-20 h-full"> </span>
                </div>
            </div>

            <h2 class="font-bold text-black underline w-full text-center mt-6">Cliente que contrata nuestros servicios:</h2>
            
            <div class="flex">
                <div class="flex-1 pr-6">
                    <div class="flex items-center">
                        <h3 class="font-semibold text-black mr-1">Nombre y Apellidos:</h3>
                        <input value="{{ficha_cliente.nombre_contrata}}" type="text" name="nombre_contrata" required class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0"
                        {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    </div>
                    <div class="flex items-center space-x-3">
                        <div class="w-1/2 flex items-center">
                            <h3 class="font-semibold text-black mr-1">Carnet de identidad:</h3>
                            <input value="{{ficha_cliente.ci_contrata}}" type="text" name="ci_contrata" required {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}
                             class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                        </div>
                        <div class="w-1/2 flex items-center">
                            <h3 class="font-semibold text-black mr-1">Parentesco:</h3>
                            <input value="{{ficha_cliente.parentesco_contrata}}" type="text" name="parentesco_contrata" required  {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}
                             class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="flex-1 h-12 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0 h-12 w-32"></p>
                    <h3 class="font-semibold text-black w-full text-center">Firma</h3>
                </div>
            </div>
            <div class="flex">
                <div class="flex-1 pr-6">
                    <div class="flex items-center">
                        <h3 class="font-semibold text-black mr-1">Nombre y Apellidos:</h3>
                        <input value="{{ficha_cliente.nombre_contrata_2}}" type="text" name="nombre_contrata_2" required class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0"
                        {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    </div>
                    <div class="flex items-center space-x-3">
                        <div class="w-1/2 flex items-center">
                            <h3 class="font-semibold text-black mr-1">Carnet de identidad:</h3>
                            <input value="{{ficha_cliente.ci_contrata_2}}" type="text" name="ci_contrata_2" required {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}
                             class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                        </div>
                        <div class="w-1/2 flex items-center">
                            <h3 class="font-semibold text-black mr-1">Parentesco:</h3>
                            <input value="{{ficha_cliente.parentesco_contrata_2}}" type="text" name="parentesco_contrata_2" required  {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}
                             class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="flex-1 h-12 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0 h-12 w-32"></p>
                    <h3 class="font-semibold text-black w-full text-center">Firma</h3>
                </div>
            </div>
            
            <!--Agregamos los servicoos desde dos archivos apartes-->            
            {% if not ficha_cliente.fecha_realizacion %}
            {% include "estudio/servicos_contrato.html" %}
            {% else %}
            {% include "estudio/servicos_contrato_realizado.html" %}
            {% endif %}
            
            <h2 class="font-bold text-black underline w-full text-center mt-12 mb-6">Anticipo para la garantía del cliente</h2>
            
            <div class="flex items-center">
                <h3 class="font-semibold text-black mr-1">Anticipo de:</h3>
                <p class="px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent">${{contrato_select.anticipo|toMoney}} {{contrato_select.moneda_anticipo}}</p>
                
                <h3 class="font-semibold text-black mr-1 ml-4">Fecha del convenio del anticipo:</h3>
                <p class="px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent">{% now "d/m/Y" %}</p>
            </div>
            
            <h2 class="font-bold text-black underline w-full text-center mt-12 mb-6">Referente al pago</h2>
            
            <div class="flex items-center">
                <span class="font-semibold text-black mr-1">Valor total del contrato, otros servicios y ventas:
                    <span id="monto-total-contrato" class="px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent"></span>
                    Valor total a cobrar:
                    <span id="monto-total-cobrar" class="px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent"></span>
                </span>
            </div>
            
            
            <h2 class="font-bold text-black underline w-full text-center mt-12 mb-6">Autorizo para publicación de redes sociales</h2>


            <ul class="flex">
                <p class="mr-3">(Autorizo solo de los padres)</p>
                <li class="mr-3">
                    <label for="autorizo-redes-sociales-si">Si</label>
                    <input type="radio" name="autorizo_redes_sociales" id="autorizo-redes-sociales-si" name="autorizo-redes-sociales" value="si" class="hidden peer" checked
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <label for="autorizo-redes-sociales-si" class="text-white font-bold bg-white border-b-2 border-black px-3 cursor-pointer peer-checked:text-black hover:text-gray-600">X</label>
                </li>
                <li>
                    <label for="autorizo-redes-sociales-no">No</label>
                    <input type="radio" name="autorizo_redes_sociales" id="autorizo-redes-sociales-no" name="autorizo-redes-sociales" value="no" class="hidden peer" {% if not ficha_cliente.autorizo_redes_sociales %}checked{% endif %}
                    {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %}>
                    <label for="autorizo-redes-sociales-no" class="text-white font-bold bg-white border-b-2 border-black px-3 cursor-pointer peer-checked:text-black hover:text-gray-600">X</label>
                </li>
                <div class="flex items-center ml-24">
                    <h3 class="font-semibold text-black mr-1">Firma del cliente:</h3>
                    <p class="w-48 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0 h-8"></p>
                </div>
            </ul>

            <div class="flex flex-col mt-6">
                <h3 class="font-semibold text-black">Condiciones del cliente con referencia a la publicación:</h3>
                <input value="{{ficha_cliente.condiciones_publicacion|nullToNone}}" type="text" {% if request.user.super_permission == False and request.user.balanc_permission == False %}disabled{% endif %} placeholder="Escriba las condicionespara la publicación..." name="condiciones_publicacion" id="requisitos-publicacion" class="mt-3 flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
            </div>
            <label for="anotaciones" class="block mb-2 mt-6 text-sm font-medium text-black">Anotaciones:</label>
            <p class="mb-2 text-sm font-normal text-black">{{ficha_cliente.anotaciones|nullToNone|linebreaksbr}}</p>
            <textarea name="anotaciones" rows="4" class="block p-2.5 w-full text-sm text-black border-0 border-b border-black focus:ring-0 focus:border-black" placeholder="Escriba anotaciones a agregar al contrato..."></textarea>

            <button type="submit" class="w-full max-w-4xl text-white bg-purple-600 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm items-center px-5 py-2.5 text-center mt-3">Guardar edicion del contrato</button>
        </div>
    </form>
    
</div>

<button data-modal-target="select-date-modal" data-modal-toggle="select-date-modal" class="hidden" id="btn-open-select-date" type="button"></button>
<div id="select-date-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-auto max-h-full">
        <div class="bg-white rounded-lg shadow dark:bg-gray-700">
            <div inline-datepicker id="select-datepicker"></div>

            <div class="flex">
                <button data-modal-hide="select-date-modal" type="button" class="w-1/2 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-bl-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900">Cancelar</button>
                <button onclick="selectDate()" data-modal-hide="select-date-modal" type="button" class="w-1/2 text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-br-lg text-sm inline-flex items-center px-5 py-2.5 text-center">Seleccionar</button>
            </div>
        </div>
    </div>
</div>



<!-- Main modal -->
<div id="historial-modal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative p-4 w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">Historial de cambios</h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="historial-modal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-4 md:p-5 h-96 overflow-auto flex flex-col">
                {% for c in ficha_cliente.cambios %}
                <span class="text-sm font-bold text-black pb-3 border-b">{{c.autor}} - {{c.fecha}}: <span class="text-sm font-normal">{{c.cambio}}</span></span>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
  
{% endblock content %}


{% block scripts %}

<script type = "text/JavaScript">
    const razon_cambio_usd = {{razon_cambio_usd|parseFloat}};
    var date_change_id = "";
    function addServicio(){
        document.getElementById("not-servicios").classList.add("hidden")
        var fechaActual = new Date().getTime();
        const date_acordado = document.getElementById("datepicker-date-acordado").value;
        
        var fechaSelect = '{% now "d/m/Y" %}';
        if(date_acordado !== ""){
            fechaSelect = date_acordado;
        }
        
        let content = document.getElementById("content-servicios");

        const newServicio = document.createElement('tr');
        newServicio.id= `row-${fechaActual}`;
        newServicio.innerHTML = `
            <td class="px-2 border-r border-black">
                <div class="flex">
                    <button type="button" class="text-red-500 px-1 material-icons text-md" onclick="removedRow('row-${fechaActual}')">delete_outline</button>
                    <span class="flex-1 text-start flex items-center quantity-service"></span>
                </div>
            </td>
            <td class="px-2 border-r border-black">
                <button type="button" class="" id="btn-otros-servicios-fechas-${fechaActual}" 
                onclick="document.getElementById('btn-open-select-date').click(),setDateChangeId('otros-servicios-fechas-${fechaActual}')">${fechaSelect}</button>
                <input type="text" class="hidden" value="${fechaSelect}" required name="otros-servicios-fechas" id="otros-servicios-fechas-${fechaActual}"/>
            </td>
            <td class="border-r border-black">
                <select name="otros-servicios-ids" onchange="setPrecioCantidad(this)" for="otro-servicio-cantidad-${fechaActual}"
                 class="p-1 w-full py-0 text-sm text-gray-900 bg-transparent appearance-none border-0 focus:border-0 focus:outline-none focus:ring-0">
                    {% for servicio in servicios %}
                    {% if not servicio.contrato %}
                        <option value="{{servicio.id}}" set-precio={{servicio.precio_cup|parseFloat}} >{{servicio.nombre}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td class="border-r border-black">
                <input type="number" step="0.01" step-my  oninput="calcValorTotal()" id="otro-servicio-cantidad-${fechaActual}" name="otros-servicios-cantidades" precio-unitario={{servicios.0.precio_cup|parseFloat}} class="otros-servicios-cantidades w-full px-3 border-0 bg-transparent text-md p-0.5 focus:ring-0 focus:border-0 appearance-none focus:outline-none focus:ring-0" min="0" step="0.01" placeholder="" required="">
            </td>
            <td class="px-2 border-r border-black">-</td>
            <td class="px-2 border-r border-black">-</td>
            <td class="px-2 border-r border-black">-</td>
        `;
        newServicio.className = "bg-white border border-b-0 border-black";

        content.appendChild(newServicio);
        updateNumbers()
    }

    function setDateChangeId(id){
        date_change_id = id;
    }

    function removedRow(id){
        
        let elementos = document.querySelectorAll('.otros-servicios-cantidades');
        if(elementos.length == 1) document.getElementById("not-servicios").classList.remove("hidden");

        document.getElementById(id).remove();
        updateNumbers()
        calcValorTotal()
    }

    function updateNumbers(){
        var elementos = document.querySelectorAll('.quantity-service');
        for (var i = 0; i < elementos.length; i++) {
            elementos[i].innerText = i + 1;
        }
    }
    
    function setPrecioCantidad(select){
        var selectedIndex = select.selectedIndex;
        var selectedOption = select.options[selectedIndex];
        var setPrecio = selectedOption.getAttribute("set-precio");

        const id_input = select.getAttribute("for");
        document.getElementById(id_input).setAttribute("precio-unitario",setPrecio)

        calcValorTotal()
    }
    
    function getValueOrNull(v){
        if(v == ""){
            return "-";
        }
        return v;
    }


    function calcValorTotal(){
        const anticipo = {% if contrato_select.anticipo %}{{contrato_select.anticipo|parseFloat}}{% else %}0{% endif %};
        let precio_contrato = {% if contrato_select.precio_cup %}{{contrato_select.precio_cup|parseFloat}}{% else %}0{% endif %};
        let precio_extras = 0.0

        let elementos = document.querySelectorAll('.otros-servicios-cantidades');
        for (var i = 0; i < elementos.length; i++) {
            const precio_unitario = elementos[i].getAttribute('precio-unitario')
            const cantidad = elementos[i].value

            const monto_agregar = precio_unitario * cantidad;
            if(!NaN){
                precio_contrato += monto_agregar;
                precio_extras += monto_agregar;
            }
        }

        
        document.getElementById("precio-servicios-extras").innerText = `${toMoney(precio_extras)}CUP/${toMoney((precio_extras/razon_cambio_usd).toFixed(2))}USD`;
        document.getElementById("monto-total-contrato").innerText = `${toMoney(precio_contrato)}CUP/${toMoney((precio_contrato/razon_cambio_usd).toFixed(2))}USD`;
        document.getElementById("monto-total-cobrar").innerText = `${toMoney(precio_contrato - anticipo)}CUP/${toMoney(((precio_contrato - anticipo)/razon_cambio_usd).toFixed(2))}USD`;
    }


    function toMoney(m) {
        var monto_list = m.toString().split(".");
        if (monto_list.length == 2){
            if(monto_list[1].length > 1){
                return `$${monto_list[0]}.${monto_list[1]}`;
            }
            else{
                return `$${monto_list[0]}.${monto_list[1]}0`;
            }

        }
        else{
            return `$${monto_list[0]}.00`;
        }
    }


    function changeUrl(){
        const rc = document.getElementById("responsable_contrato").value;
        const rr = document.getElementById("responsable_revicion").value;
        const t = document.getElementById("tipo_contrato").value;
        const f = document.getElementById("fotografo").value;
        const e = document.getElementById("editor").value;
        const c = document.getElementById("contrato").value;
        console.log(t)

        location.href = `?rc=${rc}&t=${t}&ca=${c}&f=${f}&e=${e}&rr=${rr}&end=ok`
    }
    
    function selectDate(){
        let spanSeleccionado = document.querySelector('#select-datepicker span.selected');
        let dateSelect = spanSeleccionado.getAttribute("data-date");
        
        var fecha = new Date(parseInt(dateSelect));
        var dia = fecha.getDate();
        var mes = fecha.getMonth() + 1;
        var anio = fecha.getFullYear();

        document.getElementById(date_change_id).value = `${dia}/${mes}/${anio}`;
        document.getElementById(`btn-${date_change_id}`).innerText = `${dia}/${mes}/${anio}`;
    }

    calcValorTotal()
</script>

{% endblock scripts %}