{% extends 'estudio/base.html' %}
{% load static custom_filters %}

{% block styles %}
<script src="{% static 'js/datepicker.min.js' %}"></script>
{% endblock styles %}
                
{% block content %}
<div class="w-full flex flex-col space-y-6 items-center p-6">
    <form class="w-full max-w-4xl shadow border flex flex-col px-6 py-12 bg-white" method="POST">
        {% csrf_token %}
        <div class="flex justify-between">
            <span class="w-16 text-xs font-light"></span>
            <h1 class="font-bold text-black text-3xl">FICHA DEL CLIENTE DEL ESTUDIO</h1>
            <div class="bg-gray-100 border border-black w-16 h-8"></div>
        </div>

        <div class="w-full flex justify-between mt-6">
            <div class="">
                <h1 class="font-bold text-black text-xl">CLIENTE No:</h1>
                <h1 class="font-semibold text-black text-md">Aceptación de las condiciones del contrato:</h1>
            </div>

            <div class="grid grid-cols-2 border border-black">
                <h3 class="font-semibold text-black border border-black px-2 text-sm">No. de Contrato</h3>
                <span class="px-2.5 py-0 text-sm text-gray-900 bg-transparent appearance-none border border-black focus:border-black focus:outline-none focus:ring-0"></span>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Responsable / Maquillista</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                id="responsable_contrato" name="rc" required>
                    {% for r in responsables %}
                    <option value="{{r.id}}"
                    {% if "rc="|concatenate:r.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{r.user_str}}</option>
                    {% endfor %}
                </select>

                <h3 class="font-semibold text-black border border-black px-2 text-sm">Tipo de Contrato</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                onchange="changeUrl()" id="tipo_contrato" name="t" required>
                    {% for tipo in tipos %}
                    <option value="{{tipo.id}}"
                    {% if "t="|concatenate:tipo.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{tipo.nombre}}</option>
                    {% endfor %}
                </select>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Contrato Acordado</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                onchange="changeUrl()" id="contrato" name="ca" required>
                    {% for contrato in contratos %}
                    <option value="{{contrato.id}}"
                    {% if "ca="|concatenate:contrato.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{contrato.nombre}}</option>
                    {% endfor %}
                </select>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Fotógrafo</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                id="fotografo" name="f" required>
                    {% for f in fotografos %}
                    <option value="{{f.id}}"
                    {% if "f="|concatenate:f.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{f.nombre}}</option>
                    {% endfor %}
                </select>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Editor</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                id="editor" name="e" required>
                    {% for e in editores %}
                    <option value="{{e.id}}"
                    {% if "e="|concatenate:e.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{e.nombre}}</option>
                    {% endfor %}
                </select>
                
                <h3 class="font-semibold text-black border border-black px-2 text-sm">Responsable de Revisión</h3>
                <select class="pl-2.5 pr-1 py-0 text-sm text-gray-900 bg-transparent appearance-none border-black focus:border-black focus:outline-none focus:ring-0" 
                id="responsable_revicion" name="rr" required>
                    {% for r in responsable_revision %}
                    <option value="{{r.id}}"
                    {% if "rr="|concatenate:r.id|concatenate:"&" in request.build_absolute_uri %}selected{%endif%}>{{r.user_str}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div>
            <div class="w-full flex justify-center mt-6">
                <h2 class="font-bold text-black">I-</h2>
                <h2 class="font-bold text-black underline">A LLENAR POR LA RECEPCIÓN</h2>
            </div>

            <div class="w-full flex justify-between mt-6">
                <div class="flex">
                    <h1 class="font-bold text-black mr-2">(A)</h1>
                    <div>
                        <div class="flex items-center">
                            <h3 class="font-semibold text-black mr-1">Fecha de solicitud:</h3>
                            <p class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent">{% now "d/m/Y" %}</p>
                        </div>
                        <div class="flex items-center">
                            <h3 class="font-semibold text-black mr-1">Fecha del día acordado:</h3>
                            <input id="datepicker-date-acordado" name="date-acordado" datepicker datepicker-autohide required type="text" class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0" placeholder="Seleccionar fecha">
                        </div>
                        <div class="flex items-center">
                            <h3 class="font-semibold text-black mr-1">Fecha de selección:</h3>
                            <input id="datepicker-date-seleccion" name="date-seleccion" datepicker datepicker-autohide required type="text" class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0" placeholder="Seleccionar fecha">
                        </div>
                    </div>
                </div>
            </div>

            <div class="w-full flex justify-center mt-6">
                <h2 class="font-bold text-black">(B)</h2>
                <h2 class="font-bold text-black underline">Datos Generales del Cliente</h2>
            </div>
            <h2 class="font-semibold text-black text-xs w-full text-center">(Carnet de Identidad)</h2>
            
            <div>
                <div class="flex border-r border-black">
                    <h2 class="w-24"></h2>
                    <div class="flex-1 border-r border-black"></div>
                    <div class="w-20 text-center border-t border-black">Firma cliente</div>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Nombre y apellidos</h2>
                    <input type="text" name="nombre" required class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0">
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Edad</h2>
                    <input type="text" name="edad" required class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0">
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">CI</h2>
                    <input type="text" name="ci" required class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0">
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Dirección</h2>
                    <div class="flex flex-col border-r border-black flex-1 p-2">
                        <div class="flex">
                            <h2 class="font-semibold text-sm">Calle:</h2>
                            <input type="text" name="calle" required class="w-48 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0">
                            
                            <h2 class="font-semibold text-sm">No:</h2>
                            <input type="text" name="numero" required class="w-24 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0">
                        
                            <h2 class="font-semibold text-sm">Entre:</h2>
                            <input type="text" name="entre" class="flex-1 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0">
                        </div>
                        <div class="flex mt-2">
                            <h2 class="font-semibold text-sm">Consejo Popular:</h2>
                            <input type="text" name="consejo_popular" class="flex-1 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0">
                            <h2 class="font-semibold text-sm">Muncp:</h2>
                            <input type="text" name="muncp" required class="w-32 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0">
                            <h2 class="font-semibold text-sm">Prov:</h2>
                            <input type="text" name="prov" required class="w-32 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0">
                        </div>
                        <div class="flex mt-2">
                            <h2 class="font-semibold text-sm">País:</h2>
                            <input type="text" name="pais" required class="flex-1 px-2.5 py-0 border-0 text-sm text-gray-900 bg-transparent appearance-none focus:border-0 focus:outline-none focus:ring-0">
                        </div>
                    </div>
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">No. de Teléfono</h2>
                    <input type="text" name="telefono" required class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0">
                    <span class="w-20 h-full"> </span>
                </div>
                <p class="w-full text-center border border-b-0 border-black font-bold">Redes sociales</p>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Correo</h2>
                    <input type="text" name="correo" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0">
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Facebook</h2>
                    <input type="text" name="facebook" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0">
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Instagram</h2>
                    <input type="text" name="instagram" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0">
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-b-0 border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Twitter</h2>
                    <input type="text" name="twitter" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0">
                    <span class="w-20 h-full"> </span>
                </div>
                <div class="flex border border-black">
                    <h2 class="w-24 border-r border-black px-1 font-bold">Telegram</h2>
                    <input type="text" name="telegram" class="flex-1 px-2.5 py-0 border-0 border-r border-black text-sm text-gray-900 bg-transparent appearance-none focus:border-black focus:outline-none focus:ring-0">
                    <span class="w-20 h-full"> </span>
                </div>
            </div>

            <h2 class="font-bold text-black underline w-full text-center mt-6">Cliente que contrata nuestros servicios:</h2>
            
            <div class="flex">
                <div class="flex-1 pr-6">
                    <div class="flex items-center">
                        <h3 class="font-semibold text-black mr-1">Nombre y Apellidos:</h3>
                        <input type="text" name="nombre_contrata" required class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                    </div>
                    <div class="flex items-center space-x-3">
                        <div class="w-1/2 flex items-center">
                            <h3 class="font-semibold text-black mr-1">Carnet de identidad:</h3>
                            <input type="text" name="ci_contrata" required class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                        </div>
                        <div class="w-1/2 flex items-center">
                            <h3 class="font-semibold text-black mr-1">Parentesco:</h3>
                            <input type="text" name="parentesco_contrata" required class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="flex-1 h-12 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0 h-12 w-32"></p>
                    <h3 class="font-semibold text-black w-full text-center">Firma</h3>
                </div>
            </div>
            <div class="flex">
                <div class="flex-1 pr-6">
                    <div class="flex items-center">
                        <h3 class="font-semibold text-black mr-1">Nombre y Apellidos:</h3>
                        <input type="text" name="nombre_contrata_2" required class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                    </div>
                    <div class="flex items-center space-x-3">
                        <div class="w-1/2 flex items-center">
                            <h3 class="font-semibold text-black mr-1">Carnet de identidad:</h3>
                            <input type="text" name="ci_contrata_2" required class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                        </div>
                        <div class="w-1/2 flex items-center">
                            <h3 class="font-semibold text-black mr-1">Parentesco:</h3>
                            <input type="text" name="parentesco_contrata_2" required class="flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="flex-1 h-12 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0 h-12 w-32"></p>
                    <h3 class="font-semibold text-black w-full text-center">Firma</h3>
                </div>
            </div>
            
            <div class="flex justify-between">
                <span class="w-16 text-xs font-light"></span>
                <h1 class="font-bold text-black text-lg">Contrato</h1>
                <div class="w-16"></div>
            </div>
            <table class="w-full text-sm text-left text-gray-900">
                <thead class="text-xs text-black uppercase  border border-b-0 border-black">
                    <tr>
                        <th scope="col" class="px-6 border-r border-black">No.</th>
                        <th scope="col" class="px-6 border-r border-black hidden">Fecha</th>
                        <th scope="col" class="px-6 border-r border-black">Contenido y Descripción</th>
                        <th scope="col" class="px-6 border-r border-black">Cantidad</th>
                        <th scope="col" class="px-6 border-r border-black">Cumplimiento</th>
                        <th scope="col" class="px-6 border-r border-black">Selección</th>
                        <th scope="col" class="px-6">Entrega</th>
                    </tr>
                </thead>
                <tbody class="border-0 border-b border-black">
                    {% if contrato_select.servicios.all|length == 0 %}
                    <tr class="bg-white border border-b-0 border-black">
                        <td colspan="6" class="px-6 border-r border-black text-center">No existen servicios asociados a este contrato</td>
                    </tr>
                    {% endif %}
                    {% for servicio in contrato_select.servicios.all  %}
                    <tr class="bg-white border border-b-0 border-black">
                        <td class="px-6 border-r border-black">{{forloop.counter}}</td>
                        <td class="px-6 border-r border-black hidden">-</td>
                        <td class="px-6 border-r border-black">{{servicio.servicio.nombre}}</td>
                        <td class="px-6 border-r border-black">{{servicio.cantidad}}</td>
                        <td class="px-6 border-r border-black">-</td>
                        <td class="px-6 border-r border-black">-</td>
                        <td class="px-6 border-r border-black">-</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <h1 class="text-black text-md">Valor de los servicios incluidos en el contrato:
                <span class="font-bold text-black">{% if contrato_select.precio_cup %}${{contrato_select.precio_cup|toMoney}}{% else %}$0.00{% endif %} CUP /
                {% if contrato_select.precio_cup %}${{contrato_select.precio_usd|toMoney}}{% else %}$0.00{% endif %} USD
                </span>
            </h1>

            <div class="flex justify-between mt-10">
                <span class="w-48"></span>
                <h1 class="font-bold text-black text-lg text-center">Otros servicios y ventas</h1>
                <button class="flex focus:outline-none text-sm font-bold text-green-600 px-6 items-center" onclick="addServicio()" type="button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" class="mr-1">
                        <path fill="currentColor" d="M11 17h2v-4h4v-2h-4V7h-2v4H7v2h4zm1 5q-2.075 0-3.9-.788t-3.175-2.137q-1.35-1.35-2.137-3.175T2 12q0-2.075.788-3.9t2.137-3.175q1.35-1.35 3.175-2.137T12 2q2.075 0 3.9.788t3.175 2.137q1.35 1.35 2.138 3.175T22 12q0 2.075-.788 3.9t-2.137 3.175q-1.35 1.35-3.175 2.138T12 22"></path>
                    </svg>
                    Agregar servicio
                </button>
            </div>
            <table class="w-full text-sm text-left text-gray-900">
                <thead class="text-xs text-black uppercase  border border-b-0 border-black">
                    <tr>
                        <th scope="col" class="px-2 border-r border-black">No.</th>
                        <th scope="col" class="px-2 border-r border-black">Fecha</th>
                        <th scope="col" class="px-2 border-r border-black truncate">Contenido y Descripción</th>
                        <th scope="col" class="px-2 border-r border-black">Cantidad</th>
                        <th scope="col" class="px-2 border-r border-black">Cumplimiento</th>
                        <th scope="col" class="px-2 border-r border-black">Selección</th>
                        <th scope="col" class="px-2">Entrega</th>
                    </tr>
                </thead>
                <tbody class="border-0 border-b border-black" id="content-servicios">
                    <tr class="bg-white border border-b-0 border-black" id="not-servicios">
                        <td colspan="7" class="px-6 border-r border-black text-center">No existen otros servicios o ventasagregados a este contrato</td>
                    </tr>
                </tbody>
            </table>
            <h1 class="text-black text-md">Valor de los servicios extras al contrato:
                <span class="font-bold text-black" id="precio-servicios-extras">{% if contrato_select.precio_cup %}${{contrato_select.precio_cup|toMoney}}{% else %}$0.00{% endif %} CUP /
                {% if contrato_select.precio_cup %}${{contrato_select.precio_usd|toMoney}}{% else %}$0.00{% endif %} USD
                </span>
            </h1>
            
            <h2 class="font-bold text-black underline w-full text-center mt-12 mb-6">Anticipo para la garantía del cliente</h2>
            
            <div class="flex items-center">
                <h3 class="font-semibold text-black mr-1">Anticipo de:</h3>
                <p class="px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent">${{contrato_select.anticipo|toMoney}} {{contrato_select.moneda_anticipo}}</p>
                
                <h3 class="font-semibold text-black mr-1 ml-4">Fecha del convenio del anticipo:</h3>
                <p class="px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent">{% now "d/m/Y" %}</p>
            </div>
            
            <h2 class="font-bold text-black underline w-full text-center mt-12 mb-6">Referente al pago</h2>
            
            <div class="flex items-center">
                <span class="font-semibold text-black mr-1">Valor total del contrato, otros servicios y ventas:
                    <span id="monto-total-contrato" class="px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent"></span>
                    Valor total a cobrar:
                    <span id="monto-total-cobrar" class="px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent"></span>
                </span>
            </div>
            
            <h2 class="font-bold text-black underline w-full text-center mt-12 mb-6">Autorizo para publicación de redes sociales</h2>


            <ul class="flex">
                <p class="mr-3">(Autorizo solo de los padres)</p>
                <li class="mr-3">
                    <label for="autorizo-redes-sociales-si">Si</label>
                    <input type="radio" name="autorizo_redes_sociales" id="autorizo-redes-sociales-si" name="autorizo-redes-sociales" value="si" class="hidden peer">
                    <label for="autorizo-redes-sociales-si" class="text-white font-bold bg-white border-b-2 border-black px-3 cursor-pointer peer-checked:text-black hover:text-gray-600">X</label>
                </li>
                <li>
                    <label for="autorizo-redes-sociales-no">No</label>
                    <input type="radio" name="autorizo_redes_sociales" id="autorizo-redes-sociales-no" name="autorizo-redes-sociales" value="no" class="hidden peer" checked>
                    <label for="autorizo-redes-sociales-no" class="text-white font-bold bg-white border-b-2 border-black px-3 cursor-pointer peer-checked:text-black hover:text-gray-600">X</label>
                </li>
                <div class="flex items-center ml-24">
                    <h3 class="font-semibold text-black mr-1">Firma del cliente:</h3>
                    <p class="w-48 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0 h-8"></p>
                </div>
            </ul>

            
            <div class="flex flex-col mt-6">
                <h3 class="font-semibold text-black">Condiciones del cliente con referencia a la publicación:</h3>
                <input type="text" placeholder="Escriba las condicionespara la publicación..." name="condiciones_publicacion" id="requisitos-publicacion" class="mt-3 flex-1 px-2.5 py-0 border-0 border-b border-b-black text-sm text-gray-900 bg-transparent appearance-none focus:border-b-black focus:outline-none focus:ring-0">
            </div>
            <label for="anotaciones" class="block mb-2 mt-6 text-sm font-medium text-black">Anotaciones:</label>
            <p class="mb-2 mt-3 text-sm font-normal text-black">{{ficha_cliente.anotaciones}}</p>
            <textarea name="anotaciones" rows="4" class="block p-2.5 w-full text-sm text-black border-0 border-b border-black focus:ring-0 focus:border-black" placeholder="Escriba anotaciones a agregar al contrato..."></textarea>

            <button type="submit" class="w-full max-w-4xl text-white bg-purple-600 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 dark:focus:ring-purple-800 font-medium rounded-lg text-sm items-center px-5 py-2.5 text-center mt-3">Agregar</button>
        </div>
    </form>
    
</div>

<button data-modal-target="select-date-modal" data-modal-toggle="select-date-modal" class="hidden" id="btn-open-select-date" type="button"></button>
<div id="select-date-modal" tabindex="-1" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-auto max-h-full">
        <div class="bg-white rounded-lg shadow dark:bg-gray-700">
            <div inline-datepicker id="select-datepicker"></div>

            <div class="flex">
                <button data-modal-hide="select-date-modal" type="button" class="w-1/2 text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-bl-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900">Cancelar</button>
                <button onclick="selectDate()" data-modal-hide="select-date-modal" type="button" class="w-1/2 text-white bg-green-600 hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-green-300 font-medium rounded-br-lg text-sm inline-flex items-center px-5 py-2.5 text-center">Seleccionar</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block scripts %}

<script type = "text/JavaScript">
    const razon_cambio_usd = {{razon_cambio_usd|parseFloat}};

    var date_change_id = "";
    function addServicio(){
        document.getElementById("not-servicios").classList.add("hidden")
        var fechaActual = new Date().getTime();
        const date_acordado = document.getElementById("datepicker-date-acordado").value;
        
        var fechaSelect = '{% now "d/m/Y" %}';
        if(date_acordado !== ""){
            fechaSelect = date_acordado;
        }
        
        let content = document.getElementById("content-servicios");

        const newServicio = document.createElement('tr');
        newServicio.id= `row-${fechaActual}`;
        newServicio.innerHTML = `
            <td class="px-2 border-r border-black">
                <div class="flex">
                    <button type="button" class="text-red-500 px-1 material-icons text-md" onclick="removedRow('row-${fechaActual}')">delete_outline</button>
                    <span class="flex-1 text-start flex items-center quantity-service"></span>
                </div>
            </td>
            <td class="px-2 border-r border-black">
                <button type="button" class="" id="btn-otros-servicios-fechas-${fechaActual}" 
                onclick="document.getElementById('btn-open-select-date').click(),setDateChangeId('otros-servicios-fechas-${fechaActual}')">${fechaSelect}</button>
                <input type="text" class="hidden" value="${fechaSelect}" required name="otros-servicios-fechas" id="otros-servicios-fechas-${fechaActual}"/>
            </td>
            <td class="border-r border-black">
                <select name="otros-servicios-ids" onchange="setPrecioCantidad(this)" for="otro-servicio-cantidad-${fechaActual}"
                 class="p-1 w-full py-0 text-sm text-gray-900 bg-transparent appearance-none border-0 focus:border-0 focus:outline-none focus:ring-0">
                    {% for servicio in servicios %}
                    {% if not servicio.contrato %}
                        <option value="{{servicio.id}}" set-precio={{servicio.precio_cup|parseFloat}} >{{servicio.nombre}}</option>
                    {% endif %}
                    {% endfor %}
                </select>
            </td>
            <td class="border-r border-black">
                <input type="number" step="0.01" step-my  oninput="calcValorTotal()" id="otro-servicio-cantidad-${fechaActual}" name="otros-servicios-cantidades" precio-unitario={{servicios.0.precio_cup|parseFloat}} class="otros-servicios-cantidades w-full px-3 border-0 bg-transparent text-md p-0.5 focus:ring-0 focus:border-0 appearance-none focus:outline-none focus:ring-0" min="0" step="0.01" placeholder="" required="">
            </td>
            <td class="px-2 border-r border-black">-</td>
            <td class="px-2 border-r border-black">-</td>
            <td class="px-2 border-r border-black">-</td>
        `;
        newServicio.className = "bg-white border border-b-0 border-black";

        content.appendChild(newServicio);
        updateNumbers()
    }

    
    function removedRow(id){
        
        let elementos = document.querySelectorAll('.otros-servicios-cantidades');
        if(elementos.length == 1) document.getElementById("not-servicios").classList.remove("hidden");

        document.getElementById(id).remove();
        updateNumbers()
        calcValorTotal()
    }

    function setDateChangeId(id){
        date_change_id = id;
    }

    function updateNumbers(){
        var elementos = document.querySelectorAll('.quantity-service');
        for (var i = 0; i < elementos.length; i++) {
            elementos[i].innerText = i + 1;
        }
    }
    
    function setPrecioCantidad(select){
        var selectedIndex = select.selectedIndex;
        var selectedOption = select.options[selectedIndex];
        var setPrecio = selectedOption.getAttribute("set-precio");

        const id_input = select.getAttribute("for");
        document.getElementById(id_input).setAttribute("precio-unitario",setPrecio)

        calcValorTotal()
    }

    function calcValorTotal(){
        const anticipo = {% if contrato_select.anticipo %}{{contrato_select.anticipo|parseFloat}} * razon_cambio_usd{% else %}0{% endif %};
        let precio_contrato = {% if contrato_select.precio_cup %}{{contrato_select.precio_cup|parseFloat}}{% else %}0{% endif %};
        let precio_extras = 0.0

        let elementos = document.querySelectorAll('.otros-servicios-cantidades');
        for (var i = 0; i < elementos.length; i++) {
            const precio_unitario = elementos[i].getAttribute('precio-unitario')
            const cantidad = elementos[i].value

            const monto_agregar = precio_unitario * cantidad;
            if(!NaN){
                precio_contrato += monto_agregar;
                precio_extras += monto_agregar;
            }
        }

        
        document.getElementById("precio-servicios-extras").innerText = `${toMoney(precio_extras)}CUP/${toMoney((precio_extras/razon_cambio_usd).toFixed(2))}USD`;
        document.getElementById("monto-total-contrato").innerText = `${toMoney(precio_contrato)}CUP/${toMoney((precio_contrato/razon_cambio_usd).toFixed(2))}USD`;
        document.getElementById("monto-total-cobrar").innerText = `${toMoney(precio_contrato - anticipo)}CUP/${toMoney(((precio_contrato - anticipo)/razon_cambio_usd).toFixed(2))}USD`;
    }

    function toMoney(m) {
        var monto_list = m.toString().split(".");
        if (monto_list.length == 2){
            if(monto_list[1].length > 1){
                return `$${monto_list[0]}.${monto_list[1]}`;
            }
            else{
                return `$${monto_list[0]}.${monto_list[1]}0`;
            }

        }
        else{
            return `$${monto_list[0]}.00`;
        }
    }


    function changeUrl(){
        const rc = document.getElementById("responsable_contrato").value;
        const rr = document.getElementById("responsable_revicion").value;
        const t = document.getElementById("tipo_contrato").value;
        const f = document.getElementById("fotografo").value;
        const e = document.getElementById("editor").value;
        const c = document.getElementById("contrato").value;

        location.href = `?rc=${rc}&t=${t}&ca=${c}&f=${f}&e=${e}&rr=${rr}&end=ok`
    }
    
    function selectDate(){
        let spanSeleccionado = document.querySelector('#select-datepicker span.selected');
        let dateSelect = spanSeleccionado.getAttribute("data-date");
        
        var fecha = new Date(parseInt(dateSelect));
        var dia = fecha.getDate();
        var mes = fecha.getMonth() + 1;
        var anio = fecha.getFullYear();

        document.getElementById(date_change_id).value = `${dia}/${mes}/${anio}`;
        document.getElementById(`btn-${date_change_id}`).innerText = `${dia}/${mes}/${anio}`;
    }

    calcValorTotal()
</script>

{% endblock scripts %}