{% extends base %}
{% load static custom_filters %}

{% block styles %}
{% endblock styles %}
                
{% block content %}



<div class="flex flex-col items-center p-12 w-full">  
    <ul class="text-sm font-medium text-center text-gray-500 mb-3 rounded-lg shadow w-full max-w-6xl min-w-5xl flex space-x-1 dark:text-gray-400 p-0.5 bg-white">
        <li class="w-full">
            <a href="{% url 'TransferenciaSimple' %}" class="inline-block w-full p-4 text-gray-900 bg-purple-200 rounded-lg focus:ring-0 active focus:outline-none dark:bg-gray-700 dark:text-white" aria-current="page">Transferencia de productos simples</a>
        </li>
        <li class="w-full">
            <a href="{% url 'TransferenciaCompuesta' %}" class="inline-block w-full p-4 hover:text-gray-700 rounded-lg hover:bg-gray-100 focus:ring-0 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Transferencia para producto compuesto</a>
        </li>
        <li class="w-full">
            <a href="{% url 'TransferenciaPedidos' %}" class="inline-block w-full p-4 hover:text-gray-700 rounded-lg hover:bg-gray-100 focus:ring-0 focus:outline-none dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700">Transferencia de pedidos</a>
        </li>
    </ul>

    <form method="POST" class="flex flex-col w-full max-w-6xl min-w-5xl" id="form-nueva-transferencia">
        {% csrf_token %}
        <div class="flex flex-col bg-purple-200 shadow-md">
            <div class="flex">
                <span class="w-2/6 border h-full text-md px-2 py-1">Entidad: </br>Casa Laura S.R.L.</span>
                <span class="w-1/6 border h-full text-md px-2 py-1">Codigo: </br>50004347244</span>
                <span class="w-2/6 border h-full text-center font-bold py-1">SC-2-09 TRANSFERENCIA ENTRE </br> ALMACENES</span>
                <div class="w-1/6 border flex">
                    <div class="w-1/3 flex flex-col">
                        <div class="border-b h-full text-center font-bold">D</div>
                        <div class="h-full text-center" id="dia"></div>
                    </div>
                    <div class="w-1/3 border-l flex flex-col">
                        <div class="border-b h-full text-center font-bold">M</div>
                        <div class="h-full text-center" id="mes"></div>
                    </div>
                    <div class="w-1/3 border-l flex flex-col">
                        <div class="border-b h-full text-center font-bold">A</div>
                        <div class="h-full text-center" id="anno"></div>
                    </div>
                </div>
            </div>
            
            <div class="flex">
                <div class="px-2.5 py-1 flex w-1/3 border h-full items-center relative h-full">
                    <span class="text-red-500 mr-1">*</span>
                    Entrega:
                    <select onchange="getTransferencia()" id="emisor" name="emisor" class="block px-2.5 w-full border-0 text-sm text-gray-900 bg-transparent appearance-none focus:outline-none focus:ring-0">
                        
                        <option disabled>Almacenes</option>
                        {% for almacen in almacenes %}
                        <option value="A-{{ almacen.id }}" {% if emisor == almacen %}selected{% endif %}>{{ almacen.nombre }}</option>
                        {% endfor %}
                    </select>

                </div>
                <span class="flex w-1/3 py-1 px-2.5 border h-full">{% if emisor %}{{ emisor.direccion }}{% else %}Dirección{% endif %}</span>
                <span class="flex w-1/3 py-1 px-2.5 border h-full">{% if emisor %}{{ emisor.codigo }}{% else %}Código{% endif %}</span>
            </div>
            
            <div class="flex">
                <div class="px-2.5 py-1 flex w-1/3 border h-full items-center relative h-full">
                    <span class="text-red-500 mr-1">*</span>
                    Recibe:
                    <select id="receptor" name="receptor" onchange="getTransferencia()"  class="block px-2.5 w-full border-0 text-sm text-gray-900 bg-transparent appearance-none focus:outline-none focus:ring-0">
                        
                        <option disabled>- Almacenes -</option>
                        {% for almacen in almacenes %}
                        <option value="A-{{ almacen.id }}" {% if receptor == almacen %}selected{% endif %}>{{ almacen.nombre }}</option>
                        {% endfor %}
                        <option disabled>- Puntos de venta -</option>
                        {% for pv in puntos_ventas %}
                        <option value="PV-{{ pv.id }}" {% if receptor == pv %}selected{% endif %}>{{ pv.nombre }}</option>
                        {% endfor %}
                        <option disabled>- Cocinas -</option>
                        {% for cocina in cocinas %}
                        <option value="C-{{ cocina.id }}" {% if receptor == cocina %}selected{% endif %}>{{ cocina.nombre }}</option>
                        {% endfor %}
                        <option disabled>- Estudio -</option>
                        <option value="bolsa-estudio" {% if receptor == "bolsa-estudio" %}selected{% endif %}>Bolsa del estudio</option>
                        <option disabled>- Trabajadores de Salón -</option>
                        {% for t in trabajadores_salon %}
                        <option value="U-{{ t.id }}" {% if receptor == t %}selected{% endif %}>{{ t.user }}</option>
                        {% endfor %}

                        <!-- TSOK relacionado a los servicios
                        
                        <option disabled>- Trabajadores de Oficina -</option>
                        {% for t in trabajadores_office %}
                        <option value="U-{{ t.id }}" {% if receptor == t %}selected{% endif %}>{{ t.user }}</option>
                        {% endfor %}

                        <option disabled>- Trabajadores de Servicios -</option>
                        {% for t in trabajadores_servicios %}
                        <option value="U-{{ t.id }}" {% if receptor == t %}selected{% endif %}>{{ t.user }}</option>
                        {% endfor %}
                        -->
                    </select>

                </div>
                <span class="flex w-1/3 py-1 px-2.5 border h-full">{% if receptor %}{{ receptor.direccion }}{% else %}Dirección{% endif %}</span>
                <span class="flex w-1/3 py-1 px-2.5 border h-full">{% if receptor %}{{ receptor.codigo }}{% else %}Código{% endif %}</span>
            </div>
            
            <div class="flex">
                <div class="flex w-1/3">
                    <span class="w-2/5 border h-full text-sm font-semibold text-center flex items-center justify-center">Código</span>
                    <span class="w-2/5 border h-full text-sm font-semibold text-center flex items-center justify-center">Descripción</span>
                    <span class="w-1/5 border h-full text-sm font-semibold text-center flex items-center justify-center">U/M</span>
                </div>
                <div class="flex w-1/3">
                    <div class="flex flex-col w-1/2 h-full">
                        <span class="w-full border h-full text-sm font-semibold text-center">Cantidad</span>
                        <div class="flex w-full h-full">
                            <span class="w-1/2 border h-full text-sm font-semibold text-center">Remitida</span>
                            <span class="w-1/2 border h-full text-sm font-semibold text-center">Recibida</span>
                        </div>
                    </div>
                    <span class="w-1/2 border h-full text-sm font-semibold text-center">Precio Unitario </br> Total o Costo </br> Predeterminado</span>
                </div>
                <div class="flex w-1/3">
                    <div class="flex flex-col w-2/3 h-full">
                        <span class="w-full border h-full text-sm font-semibold text-center">Importe</span>
                        <div class="flex w-full h-full">
                            <span class="w-1/2 border h-full text-sm font-semibold text-center">Productos</br>Remitidos</span>
                            <span class="w-1/2 border h-full text-sm font-semibold text-center">Productos</br>Recibidos</span>
                        </div>
                    </div>
                    <span class="w-1/3 border h-full text-sm font-semibold text-center flex items-center justify-center">Saldo en </br> Existencia</span>
                </div>
            </div>
            
        
            <div class="" id="content-products">
            </div>
            
            <div class="flex">
                <span class="w-2/3 px-2.5 border">Importe total</span>
                <div class="flex w-1/3 border">
                    <div class="flex w-2/3 h-full">
                        <div class="flex w-1/2 h-full">
                            <span class="w-2/3 border h-full text-sm text-center" id="importe-total-start">0</span>
                            <span class="w-1/3 border h-full text-sm text-center" id="importe-total-end">00</span>
                        </div>
                        <div class="flex w-1/2 h-full">
                            <span class="w-2/3 border h-full text-sm text-center">-</span>
                            <span class="w-1/3 border h-full text-sm text-center">-</span>
                        </div>
                    </div>
                    <span class="w-1/3 border h-full text-sm text-center">-</span>
                </div>
            </div>
            
            <div class="flex">
                <div class="flex w-1/3 border h-full relative">
                    <span class="block px-2.5 pb-1 pt-3 w-full border-0 text-md font-semibold text-gray-900 bg-transparent appearance-none">Entrega</span>
                </div>
                <div class="flex w-1/3 border h-full relative">
                    <span class="block px-2.5 pb-1 pt-3 w-full border-0 text-md font-semibold text-gray-900 bg-transparent appearance-none">Recibe</span>
                </div>
                <div class="flex w-1/3 border h-full relative">
                    <span class="block px-2.5 pb-1 pt-3 w-full border-0 text-md font-semibold text-gray-900 bg-transparent appearance-none">Autoriza</span>
                </div>
            </div>
            
            <div class="flex">
                <div class="flex w-1/3 border h-full">
                    <div class="flex flex-col w-2/3 h-full border">
                        <div class="flex h-full relative">
                            <input type="text" id="nombre_entrega" name="nombre_entrega" class="block px-2.5 pb-1 pt-3 w-full border-0 text-sm text-gray-900 bg-transparent appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " />
                            <label for="nombre_entrega" class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-transparent px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 
                            peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1 peer-focus:mt-1 w-full"><span class="text-red-700">*</span> Nombre</label>
                        </div>
                        <span class="h-full text-sm px-3 pb-3">Firma:</span>
                    </div>
                    <div class="flex w-1/3">
                        <div class="w-1/3 border flex flex-col">
                            <div class="border-b h-full text-center">D</div>
                            <div class="border-t h-full text-center">-</div>
                        </div>
                        <div class="w-1/3 border flex flex-col">
                            <div class="border-b h-full text-center">M</div>
                            <div class="border-t h-full text-center">-</div>
                        </div>
                        <div class="w-1/3 border flex flex-col">
                            <div class="border-b h-full text-center">A</div>
                            <div class="border-t h-full text-center">-</div>
                        </div>
                    </div>
                </div>
                <div class="flex w-1/3 border h-full">
                    <div class="flex flex-col w-2/3 h-full border">
                        <div class="flex h-full relative">
                            <input type="text" id="nombre_recibe" name="nombre_recibe" class="block px-2.5 pb-1 pt-3 w-full border-0 text-sm text-gray-900 bg-transparent appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " />
                            <label for="nombre_recibe" class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-transparent px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 
                            peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1 peer-focus:mt-1 w-full"><span class="text-red-700">*</span> Nombre</label>
                        </div>
                        <span class="h-full text-sm px-3 pb-3">Firma:</span>
                    </div>
                    <div class="flex w-1/3">
                        <div class="w-1/3 border flex flex-col">
                            <div class="border-b h-full text-center">D</div>
                            <div class="border-t h-full text-center">-</div>
                        </div>
                        <div class="w-1/3 border flex flex-col">
                            <div class="border-b h-full text-center">M</div>
                            <div class="border-t h-full text-center">-</div>
                        </div>
                        <div class="w-1/3 border flex flex-col">
                            <div class="border-b h-full text-center">A</div>
                            <div class="border-t h-full text-center">-</div>
                        </div>
                    </div>
                </div>
                <div class="flex w-1/3 border h-full">
                    <div class="flex flex-col w-full h-full border">
                        <div class="flex h-full relative">
                            <input type="text" id="nombre_autoriza" name="nombre_autoriza" class="block px-2.5 pb-1 pt-3 w-full border-0 text-sm text-gray-900 bg-transparent appearance-none focus:outline-none focus:ring-0 peer" placeholder=" " />
                            <label for="nombre_autoriza" class="absolute text-sm duration-300 transform -translate-y-4 scale-75 top-2 z-10 origin-[0] bg-transparent px-2 peer-focus:px-2 peer-placeholder-shown:scale-100 
                            peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 left-1 peer-focus:mt-1 w-full"><span class="text-red-700">*</span> Nombre</label>
                        </div>
                        <span class="h-full text-sm px-3 pb-3">Firma:</span>
                    </div>
                </div>
            </div>

        </div>
        <div class="flex mt-3 justify-end">
            <button type="button" class="focus:outline-none text-white bg-purple-500 hover:bg-purple-700 mr-3 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900" data-modal-target="medium-modal" data-modal-toggle="medium-modal" onclick="setFocus()">Agregar Producto</button>
            <button type="submit" class="focus:outline-none text-white bg-purple-600 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Confirmar Transferencia</button>
        </div>
    </form> 
</div>


<!-- Default Modal -->
<div id="medium-modal" tabindex="-1" data-modal-backdrop="static" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-lg max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex flex-col items-center justify-between p-3 space-y-3 border-b rounded-t dark:border-gray-600">
                <div class="flex items-center w-full justify-between">
                    <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                        Seleccione el producto a agregar
                    </h3>
                    <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="medium-modal" id="close-modal-products">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span> 
                    </button>
                </div>
            
                <div class="relative w-full focus-within:text-purple-500 mt-1">
                    <div class="absolute inset-y-0 flex items-center pl-2">
                      <svg class="w-4 h-4" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
                      </svg>
                    </div>
                    <input oninput="search()" class="w-full pl-8 pr-2 text-sm text-gray-700 placeholder-gray-600 bg-gray-100 border-0 rounded-md dark:placeholder-gray-500 dark:focus:shadow-outline-gray dark:focus:placeholder-gray-600 dark:bg-gray-700 dark:text-gray-200 focus:placeholder-gray-500 focus:bg-white focus:border-purple-300 focus:outline-none focus:shadow-outline-purple form-input" type="text" placeholder="Buscar productos" id="input-search" aria-label="Search">
                </div>
            </div>

            <!-- Modal body -->
            <div class="p-6 w-full space-y-6 divide-y divide-gray-100 dark:divide-gray-700 h-96 relative overflow-auto">
                {% for p in productos %}
                <button id="product-{{p.id}}" class="item-product flex px-4 py-3 hover:bg-gray-100 dark:hover:bg-gray-700 w-full" barcode="{{p.codigo}}"
                 onclick="addProduct({{p.id}},'{{p.lote_asignar}}',{{p.existencia|parseFloat}},'{{p.codigo}}','{{p.nombre}}','{{p.medida}}',{{p.precio_venta|parseFloat}},'{{p.categoria}}')">
                <div class="flex-shrink-0">
                    {% if p.img %}
                    <img class="rounded-full w-11 h-11" src="{{p.img}}" alt="" />
                    {% else %}
                    <p class="rounded-full w-11 h-11 flex items-center justify-center font-bold text-md text-gray-600 bg-gray-100">{{ p.nombre.0 }}{{ p.nombre.1 }}<p>
                    {% endif %}
                </div>
                <div class="w-full pl-3 flex flex-col">
                        <span id="name-product-{{p.id}}" class="text-gray-900 font-bold text-md dark:text-gray-400 text-start">{{ p.nombre }} </span>
                        <span id="code-product-{{p.id}}" class="hidden">{{ p.codigo }} </span>
                        <div class="w-full flex justify-start">
                            <span class="text-xs text-blue-600 dark:text-blue-500 text-start">Cod: {{ p.codigo }} - Categ: {{ p.categoria }} - Existencia:  {{ p.existencia }} {{ p.medida }}</span>
                        </div>
                    </div>
                </button>
                {% endfor %}
            </div>

        </div>
    </div>
</div>


{% endblock content %}


{% block scripts %}
<script src="{% static 'js/transferencia_almacenes.js' %}"></script>

<script>
    
    let barcode = ""
    document.addEventListener("keydown", function(event) {
        if(event.key === "Enter"){
            document.activeElement.blur();
            event.preventDefault()

            const elementos = document.querySelectorAll('[barcode]');
            elementos.forEach(elemento => {
                if (elemento.getAttribute('barcode') === barcode) {
                    elemento.click()
                }
            });
            barcode = ""
        }
        else{
            barcode += event.key
        }      
        setTimeout(() => { barcode = "" }, 400);
        
    });

    function setFocus(){
        setTimeout(function() { 
            document.getElementById("input-search").value = "";
            document.getElementById("input-search").focus();
        }, 150);
    }
    
    document.getElementById("form-nueva-transferencia").addEventListener("submit", function(event) {
        event.preventDefault();

        var origen = document.getElementById("emisor").value;
        var destino = document.getElementById("receptor").value;
      
        if (origen == destino) {
          alert("Debe seleccionar otro receptor");
          return false;
        }
        
        if (document.getElementsByName("cantidad").length == 0) {
            alert("Debe indicar los productos que va a transferir");
            return false;
        }
        
        // -- Comprobar si es un subproducto que no deje enviarse a los puntos de ventas
        if(destino.includes("PV-")){
            const span = document.querySelectorAll("span[name='name-product-transfer']");
            for (let i = 0; i < span.length; i++) {
                if (span[i].getAttribute("categoria") === "SUBPRODUCTOS") {
                    alert(`El elemento ${span[i].innerText} no se puede transferir a un punto de venta ya que es un subproducto.`);
                    return false;
                }
            }
        }
        if(destino.includes("C-")){
            const span = document.querySelectorAll("span[name='name-product-transfer']");
            for (let i = 0; i < span.length; i++) {
                if (span[i].getAttribute("categoria") !== "SUBPRODUCTOS" && span[i].getAttribute("categoria") !== "MEDIOS BASICOS") {
                    alert(`El elemento ${span[i].innerText} no se puede transferir a un centro de elaboracion ya que no es un subproducto ni un medio básico.`);
                    return false;
                }
            }
        }
      
        this.submit();
    });
    
    document.addEventListener("keydown", function(event) {
        if (event.key === "Enter" || event.key === "ArrowUp" || event.key === "ArrowDown" || event.key === "ArrowRight" || event.key === "ArrowLeft") {
            var element = event.target;
            var next;

            
            if (event.key === "Enter" || event.key === "ArrowRight" || event.key === "ArrowDown"){next = 1} 
            else if (event.key === "ArrowLeft" || event.key === "ArrowUp"){next = -1} 
            
            if (element.tagName === "INPUT" || element.tagName === "BUTTON") {
                event.preventDefault();
        
                var form = element.form;
                var elements = form.getElementsByClassName("item-form");
                var index = Array.prototype.indexOf.call(elements, element);
                var nextElement;
        
                if (index === elements.length - 1) {
                nextElement = elements[0];
                } else {
                nextElement = elements[index + next];
                }
        
                if (nextElement) {
                nextElement.focus();
                if (nextElement.tagName === "INPUT") {
                    nextElement.select(); // seleccionar el texto del próximo elemento
                }
                }
            }
        }
    });

    function getTransferencia(){
        let emisor = document.getElementById("emisor").value;
        let receptor = document.getElementById("receptor").value;
        
        window.location.href = updateUrlParameter(updateUrlParameter(window.location.href + "?","emisor",emisor),"receptor",receptor)
    }
    
    function updateUrlParameter(url, param, value) {
        var newUrl = "";
        var reg = new RegExp("([?&])" + param + "=.*?(&|$)", "i");
        var match = url.match(reg);
      
        if (match) {
          newUrl = url.replace(match[0], match[1] + param + "=" + value + match[2]);
        } else {
          newUrl = url + "&" + param + "=" + value;
        }
      
        return newUrl;
    }
    
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }
    
    var fecha = new Date();
    document.getElementById("dia").innerHTML = fecha.getDate();
    document.getElementById("mes").innerHTML = fecha.getMonth() + 1;
    document.getElementById("anno").innerHTML = fecha.getFullYear();
</script>

{% endblock scripts %}